<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lalapodo.mapper.TestMapper">

<!--    <select id="getAll" resultType="com.lalapodo.Dao.TestTable">-->
    <select id="getAll" resultType="test">
        select * from test_table
    </select>

    <select id="getOne" resultType="test">
        select * from test_table where id = #{id}
    </select>

    <select id="getOne2Params" resultType="test">
        select * from test_table where id = #{param1} and name = #{param2}
    </select>

    <select id="getOne2Args" resultType="test">
        select * from test_table where id = #{arg0} and name = #{arg1}
    </select>

    <select id="getOne2Param" resultType="test">
        select * from test_table where id = #{id} and name = #{name}
    </select>

    <insert id="insertOne"> <!--insert-->
        insert into test_table (id, name, age) values (default, #{name}, #{age})
    </insert>

    <select id="getOneMap" resultType="test"> <!--getOneMap-->
        select * from test_table where id = #{id} and name = #{name}
    </select>

    <!--自定义结果映射-->
    <resultMap id="customResult" type="com.lalapodo.Dao.TestTable">
        <!--<id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>-->
        <id property="id" column="i"/>
        <result property="name" column="n"/>
        <result property="age" column="a"/>
    </resultMap>
    <select id="getAll2" resultMap="customResult">
<!--        select * from test_table-->
        select id i, name n, age a from test_table
    </select>

    <!--多对一映射关系association-->
    <resultMap id="customResult2" type="com.lalapodo.Dao.TestTable">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <association property="test2" javaType="com.lalapodo.Dao.TestTable2">
            <id property="id" column="t2id"/>
            <result property="uGroup" column="u_group"/>
            <result property="uid" column="uid"/>
        </association>
    </resultMap>
    <select id="getAll3" resultMap="customResult2"> <!--where t.id = #{id} 带参数-->
        select *, t2.id t2id from test_table t left join test_table2 t2 on t2.uid = t.id where t.id = 1
    </select>

    <!--一对多映射关系-->
    <resultMap id="customResult3" type="com.lalapodo.Dao.TestTable4">
        <id property="id" column="id"/>
        <result property="uGroup" column="u_group"/>
        <!--<collection property="test1" javaType="com.lalapodo.Dao.TestTable3">-->
        <collection property="test1" ofType="com.lalapodo.Dao.TestTable3">
            <id property="id" column="t3id"/> <!--t3id-->
            <result property="name" column="name"/>
            <result property="age" column="age"/>
            <result property="gid" column="gid"/>
        </collection>
    </resultMap>
    <select id="getAll4" resultMap="customResult3">
        select *, t3.id t3id from test_table4 t4 left join test_table3 t3 on t3.gid = t4.id where t4.id = 1
    </select>

    <!--SQL 特殊字段-->
    <select id="getOne2" resultType="test"> <!-- > &gt; -->
        select * from test_table where id &gt; #{id}
    </select>

    <!--SQL 批量删除-->
    <delete id="deleteMany">
        delete from test_table where id in (${id})
    </delete>

    <!--SQL insert标签获取自增id-->
    <insert id="insertOne2" useGeneratedKeys="true" keyProperty="id"> <!--useGeneratedKeys&keyProperty-->
        insert into test_table3 (id, name, age, gid) values (default, #{name}, #{age}, #{gid})
    </insert>
</mapper>