<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lalapodo.mapper.TestMapper">
    <select id="getAll" resultType="com.lalapodo.Dao.TestTable">
        select * from test_table
    </select>
</mapper>